@model IEnumerable<systemBiblioteczny.Models.Book>

@{
    ViewData["Title"] = "Books";
}

<h1>Books</h1>

@* <p> *@
@*     @ViewData["error"]; *@
@* </p> *@

<div class="list">
@foreach (var item in Model) {


      <a class="element" href="@Url.Action("Details", "Book", new { id = item.Id })">
        <div class="element-title element-item"> @item.Title </div>
        <div class="element-item"> @item.Author </div>
        <div class="element-item"> @item.Genre </div>
        <div class="element-item"> @item.ReleaseDate.ToString("yyyy")</div>
        <div class="element-item"> @item.BookStatus.Status.Substring(0, 1).ToUpper()@item.BookStatus.Status.Substring(1)</div>
     </a>
}

</div>
